body{
    background-color: darkcyan;
}


p{
    background-color:red;
    color: blue;
}
h1{
    color: brown;
    background-color: white;
}
h2{
    color: gold;
    background-color: indianred;
}
